$bg-color: #282828;
$yellow-color: #FFD733;
$light-grey-color: #eeede9;
$light-brown-color: #B3AA99;
$blue-color: #5DC3E4;
$green-color: #6C972F;
$white-color: #ffffff;
$std-opacity: rgba(0, 0, 0, 0.25);
