@import "./variables.css";

@font-face {
	font-family: "Silka-Medium";
	src: url("../webfonts/silka/Silka-Medium.otf");
}

@font-face {
	font-family: "Silka-Bold";
	src: url("../webfonts/silka/Silka-Bold.otf");
}

@font-face {
	font-family: "Silka-Light";
	src: url("../webfonts/silka/Silka-Light.otf");
}

body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	overflow: hidden;
	font-family: "Silka-Medium";
}

#home {
	height: var(--max-h);
	width: var(--max-w);
}

#aside {
	position: absolute;
	height: var(--aside-h);
	width: var(--aside-w);
	top: 0;
	left: 0;
}

#favorite {
	position: absolute;
	height: var(--favorite-h);
	width: var(--favorite-w);
	top: var(--margin);
	right: var(--margin);
	background: white;
	border-radius: var(--radius);
}

#inline-stepping{
	position: absolute;
	height: var(--inline-stepping-h);
	width: var(--inline-stepping-w);
	top: 0;
	left: var(--aside-w);
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

/* utils */

#logo {
	background: red;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}
	
.card-border{
	height: inherit;
	width: inherit;
	box-sizing: border-box;
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border-width);
}

	.inactive .card-border,
	.active .card-border{
		transition: all var(--transition) ease;
	}

	.inactive .card-border{
		border-color: rgba(0,0,0,0);
	}
	
	.active .card-border{
		transform: scale(0.91);
		border-color: var(--yellow-color);
	}
	
	.active .card-img,
	.active .fav-img{
		transform: scale(1.1);
		transition: all var(--transition) ease;
	}
	.inactive .card-img,
	.inactive .fav-img{
		filter: grayscale(50%);
		transform: scale(1);
		transition: all var(--transition) ease;
	}

	.small-card,
	.big-card,
	#favorite{
		overflow: hidden;
	}

	
.transparent-box {
	background: var(--std-opacity);
	width: max-content;
	margin-left: var(--border-width);
}

.transparent-box p {
	color: var(--blue-color);
	line-height: 0;
	padding: calc(2 * var(--margin));
	flex-shrink: 0;
}

	.small-card .transparent-box,
	.big-card .transparent-box {
		transform: translateX(calc(-1 * var(--border-width)));
	}

.card-img,
.fav-img{
	width: 100%;
	height: 100%;
}

.brown {
	color: var(--light-brown-color);
}

.blue {
	color: var(--blue-color);
}

.small-font {
	font-size: 0.8em;
}

.big-font {
	font-size: 1.2em;
}

.very-big-font {
	font-size: 2em;
}

.bold-font {
	font-family: "Silka-Bold";
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.block {
	display: block;
}
